<!DOCTYPE html>
<html>
  <head>
    <title>自身免疫性肝病肝纤维化分级系统</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/assets/scale_index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css.css">
    <link rel="stylesheet" type="text/css" href="/assets/base_v2.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/assets/comment.css">
    <link rel="stylesheet" type="text/css" href="/assets/show.css">
    <script type="text/javascript" src="/assets/jquery-1.12.4.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
